<input id="paperstate_month" name="paperstate_month" type="month" value="{$month}"/>
<table id="paperstate_list" class="display" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>帐号</th>
			<th>姓名</th>
			<th>性别</th>
			<th>年级</th>
			<th>攻读学位</th>
			<th>月用打印纸</th>
			<th>月配额</th>
		</tr>
	</thead>
	
	<tfoot>
		<tr>
			<th>帐号</th>
			<th>姓名</th>
			<th>性别</th>
			<th>年级</th>
			<th>攻读学位</th>
			<th>月用打印纸</th>
			<th>月配额</th>
		</tr>
	</tfoot>
</table>

<script src="__PUBLIC__/js/printer/paperstate.js" type="text/javascript"></script>
