{% extends "whole/smt/sitebasic.html" %}
{% load i18n %}
{% block addcss %}
	<link href="/static/css/powerjudge.css" rel="stylesheet" type="text/css">
	
	<link href="/static/css/alertify.core.css" rel="stylesheet" type="text/css">
	<link href="/static/css/alertify.default.css" rel="stylesheet" type="text/css">
	
	<link href="/static/DataTables-1.10.0/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
	<link href="/static/DataTables-1.10.0/media/css/jquery.dataTables_themeroller.min.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block addjs %}
	<script src="/static/js/page_manager.js" type="text/javascript" ></script>
	<script src="/static/js/jquery.pjax.min.js" type="text/javascript" ></script>
	
	<script src="/static/js/jquery.form.min.js" type="text/javascript" ></script>
	
	<script src="/static/js/alertify.min.js" type="text/javascript" ></script>
	
	<script src="/static/DataTables-1.10.0/media/js/jquery.dataTables.min.js" type="text/javascript" ></script>
	
{% endblock %}

{% block topbar %}
{# 顶栏 #}
	<div id="topbar" class="ui fixed transparent js_invertset inverted thin menu js_colorset black">
		<div class="container">
			<div id="menubutton" class="item ui small button js_colorset black">
				<i class="icon list layout"></i>
				<span class="text" style="display: none;">Menu</span>
			</div>
			<div id="current_page_step" class="item ui small steps">
				<a href="/" data-pjax class="ui blue step">
					<div class="one_page_step">
						Home
					</div>
				</a>
			</div>
			<div class="right menu">
				<div class="item">
					<h2 class="ui large header ojtitle">
		        		{% trans 'CSU Power Judge' %}
					</h2>
		        </div>
				<div class="item">
					<a href="http://acmicpc.info/" target=_blank class="ui mini image">
						<img src="/static/images/icpc_logo_big.png">
					</a>
		        </div>
			</div>
		</div>
	</div>
{# 顶栏end #}
{% endblock %}

{% block page_content %}
{# 页面内容  #}
	<div id="mainpage" class="mainpage container">
		<div id="page_loader" class="ui active inverted dimmer">
			<div class="ui loader">{% trans 'Loading' %}</div>
		</div>
		{% block pjax_content %}
		{% endblock %}
	</div>
{% endblock %}

{% block addmaterials %}
{% endblock %}