{% extends "whole/smt/index.html"|pjax:request %}
{# pjax_base.html 文件名固定，且要放在templates根目录下，作为pjax访问的通用extend #}
{% load i18n %}

{% block pjax_content %}
<div class="centerdiv">
	<div class="ui info message">
		<div class="header">{% trans "Register for CSU Power Judge and Have Fun!!!" %}</div>
	</div>
	<div id="registerformdiv" class="ui form segment">
	<form id="register_form" action="/powerjudge/register_function/" method="post" >{% csrf_token %}
		<div class="two fields">
			<div class="field">
				<div class="field">
					<label>{% trans "Username" %}:</label>
					<div class="ui labeled input">
						<input placeholder="{% trans "1-20 characters in letter or number" %}" name="username" type="text">
						
						<div class="ui corner label">
							<i class="asterisk icon"></i>
						</div>
					</div>
				</div>
				<div class="field">
					<label>{% trans "Password" %}:</label>
					<div class="ui labeled input">
						<input placeholder="{% trans "More than 6 characters" %}" type="password" name="password">
						<div class="ui corner label">
							<i class="asterisk icon"></i>
						</div>
					</div>
				</div>
				<div class="field">
					<label>{% trans "Password Confirm" %}:</label>
					<div class="ui labeled input">
						<input placeholder="{% trans "Password Confirm" %}" type="password" name="password_confirm">
						<div class="ui corner label">
							<i class="asterisk icon"></i>
						</div>
					</div>
				</div>
				<div class="field">
					<label>{% trans "Gender" %}:</label>
					<div class="ui fluid selection dropdown">
						<input type="hidden" name="gender">
						<div class="default text">{% trans "Gender" %}</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item" data-value="0">{% trans "Secret" %}</div>
							<div class="item" data-value="1">{% trans "Male" %}</div>
							<div class="item" data-value="2">{% trans "Female" %}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="field">
				<div class="field">
					<label>{% trans "Email" %}:</label>
					<div class="ui labeled input">
						<input placeholder="{% trans "Email" %}" name="email" type="text">
						<div class="ui corner label">
							<i class="asterisk icon"></i>
						</div>
					</div>
				</div>
				<div class="field">
					<label>{% trans "Nickname" %}:</label>
					<input placeholder="{% trans "Nickname" %}" name="nickname" type="text">
				</div>
				<div class="field">
					<label>{% trans "School" %}:</label>
					<input placeholder="{% trans "School" %}" name="school" type="text">
				</div>
			</div>
		</div>
		<div class="field">
			<label>{% trans "Motto" %}:</label>
			<input placeholder="{% trans "Motto" %}" name="motto" type="text">
		</div>
		<div class="inline field">
			<div class="ui checkbox">
				<input type="checkbox" name="sharecode">
				<label>{% trans "I'd like to share my code(free to choose or not)." %}</label>
			</div>
		</div>
		<div>
			<button id="register_submit"  type="submit" class="ui blue submit button">
				{% trans "Submit" %}
			</button>
		</div>
	</form></div>
</div>
<script src="/static/powerjudge/js/register_manager.js" type="text/javascript" ></script>
{% endblock %}
