{% extends "whole/smt/index.html"|pjax:request %}
{# pjax_base.html 文件名固定，且要放在templates根目录下，作为pjax访问的通用extend #}
{% load i18n %}

{% block pjax_content %}
<div class="ui relaxed grid ">
	<div class="three wide column">
		<label>{% trans '学号' %}:</label>
		<label>{{stuid}}</label>
	</div>
	<div class="three wide column">
		<label>{% trans '姓名' %}:</label>
		<label>{{name}}</label>
	</div>
	<div class="three wide column">
		<label>{% trans '估测正在' %}:</label>
		<label class='red' id='whatdoing'>({% trans '分析中' %}...)</label>
	</div>
	<div class="three wide column">
		<label>{% trans '本周已累计工作' %}:</label>
		<label>63小时</label>
	</div>
</div>
<div id="charts">
   <div id="cpuload" class='chart'></div>
   <div id="memload" class='chart'></div>
   <div id="mousebutton0" class='chart'></div>
   <div id="mousebutton1" class='chart'></div>
   <div id="mousemove" class='chart'></div>
   <div id="keybutton" class='chart'></div>
   <div id="upload" class='chart'></div>
   <div id="download" class='chart'></div>
   <div id="appprocessnum" class='chart'></div>
   <div id="processnum" class='chart'></div>
</div>
{% endblock %}


{% block addmaterials %}
<link href="/static/CheckingIn/css/mycss.css" rel="stylesheet">
<script src="/static/Highcharts-4.0.3/js/highcharts.js" type="text/javascript"></script>
<script src="/static/Highcharts-4.0.3/js/highcharts-more.js" type="text/javascript"></script>
<script src="/static/CheckingIn/js/mycharts.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function ()
{
	$(".chart").height(150);
	ChartDatas("{{onlyname}}");
	setInterval(function(){AddPoints("{{onlyname}}");}, timeperiod);
})
</script>
{% endblock %}