<div class='infotablediv'>
<form id="changeinfo_form" action="/home/admin/changeinfo_ajax" method="post">
<table class="ui celled table segment">
	<tbody>
	<tr>
		<th colspan="8">个人信息（{$strlist[$userinfo['kind']]}）：</th>
	</tr>
	<tr>
		<td class="positive td_2w">姓名：</td>
		<td class="td_4w">
			<div class="ui mini input">
				<input name="name" type="text" placeholder="姓名..." value="{$userinfo['name']}">
			</div>
		</td>
		<td class="positive td_4w">学号：</td>
		<td>{$userinfo['uid']}<input type="hidden" name="uid" value="{$userinfo['uid']}"/></td>
		<td class="positive td_2w">性别：</td>
		<td>
			<div id="selectsex" class="ui mini selection dropdown">
				<input type="hidden" name="sex" value="{$userinfo['sex']}">
				<div class="default text">{$strlist[$userinfo['sex']]}</div>
				<i class="dropdown icon"></i>
				<div class="menu">
					<div class="item" data-value="51">男</div>
					<div class="item" data-value="52">女</div>
				</div>
			</div>
		</td>
		<td class="positive td_4w">攻读学位：</td>
		<td>
			<div id="selectdegree" class="ui mini selection dropdown">
				<input type="hidden" name="degree" value="{$userinfo['degree']}">
				<div class="default text">{$strlist[$userinfo['degree']]}</div>
				<i class="dropdown icon"></i>
				<div class="menu">
					<div class="item" data-value="10">本科</div>
					<div class="item" data-value="11">学术型硕士</div>
					<div class="item" data-value="12">专业型硕士</div>
					<div class="item" data-value="13">在职硕士</div>
					<div class="item" data-value="21">博士</div>
					<div class="item" data-value="22">在职博士</div>				
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<td class="positive td_2w">学院：</td>
		<td colspan="3">
			<div id="selectinstitute" class="ui mini selection dropdown">
				<input type="hidden" name="institute" value="{$userinfo['institute']}">
				<div class="default text">{$strlist[$userinfo['institute']]}</div>
				<i class="dropdown icon"></i>
				<div class="menu">
				<?php
					foreach($strlist as $key=>$value)
					{
						if($key >= 200 && $key < 400)
						{
						?>
						<div class="item" data-value="{$key}">{$value}</div>
						<?php
						}
					}
				?>
				</div>
			</div>
		</td>	
		<td class="positive td_2w">专业：</td>
		<td colspan="3">
		<div id="selectmajor" class="ui mini selection dropdown">
				<input type="hidden" name="major" value="{$userinfo['major']}">
				<div class="default text">{$strlist[$userinfo['major']]}</div>
				<i class="dropdown icon"></i>
				<div class="menu">
				<?php
					foreach($strlist as $key=>$value)
					{
						if($key >= 400 && $key < 800)
						{
						?>
						<div class="item" data-value="{$key}">{$value}</div>
						<?php
						}
					}
				?>
				</div>
			</div></td>	
		</tr>
	<tr>
		<td class="positive td_2w">年级：</td>
		<td>
			<div class="ui mini input">
				<input name="grade" type="text" placeholder="20xx" value="{$userinfo['grade']}">
			</div>
		</td>
		<td class="positive td_4w">生日：</td>
		<td class="td_4w"> 
			<input name="birthday" type="date" value="{$userinfo['birthday']}"/>
		</td>
		<td class="positive td_3w">手机号：</td>
		<td class="td_5w">
			<div class="ui mini input">
				<input name="phone" type="text" placeholder="手机号..." value="{$userinfo['phone']}">
			</div>
		</td>
		<td class="positive td_2w">邮箱：</td>
		<td>
			<div class="ui mini input">
				<input name="email" type="text" placeholder="xx@xx.xx" value="{$userinfo['email']}">
			</div>
		</td>
	</tr>
	<tr>
		<td class="positive td_2w">民族：</td>
		<td >
			<div class="ui mini input">
				<input name="nation" type="text" placeholder="民族..." value="{$userinfo['nation']}">
			</div>
		</td>	
		<td class="positive td_4w">政治面貌：</td>
		<td>
			<div class="ui mini input">
				<input name="political" type="text" placeholder="党员、团员等..." value="{$userinfo['political']}">
			</div>
		</td>
		<td class="positive td_2w">导师：</td>
		<td>
			<div class="ui mini input">
				<input name="supervisor" type="text" placeholder="导师..." value="{$userinfo['supervisor']}">
			</div>
		</td>
		<td class="positive td_4w">导师帐号：</td>
		<td>
			<div class="ui mini input">
				<input name="supervisorid" type="text" placeholder="不填则用'#'占位" value="{$userinfo['supervisorid']}">
			</div>
		</td>
	</tr>
	<tr>
		<td class="positive td_2w">证件：</td>
		<td colspan="3">
			<div class="ui mini input">
				<input name="idcard" type="text" placeholder="身份证号..." value="{$userinfo['idcard']}">
			</div>
		</td>
		<td class="positive td_3w">小导师：</td>
		<td>
			<div class="ui mini input">
				<input name="teacher" type="text" placeholder="小导师..." value="{$userinfo['teacher']}">
			</div>
		</td>
		<td class="positive td_4w">小导师帐号：</td>
		<td>
			<div class="ui mini input">
				<input name="teacherid" type="text" placeholder="不填则用'#'占位" value="{$userinfo['teacherid']}">
			</div>
		</td>
	</tr>
	<tr>
		<td class="positive td_2w">身份：</td>
		<td colspan="3">
			<div id="selectkind" class="ui mini selection dropdown">
				<input type="hidden" name="kind" value="{$userinfo['kind']}">
				<div class="default text">{$strlist[$userinfo['kind']]}</div>
				<i class="dropdown icon"></i>
				<div class="menu">
					<div class="item" data-value="41">学生</div>
					<div class="item" data-value="42">讲师/教授</div>		
				</div>
			</div>
		</td>
		<td class="positive td_2w">状态：</td>
		<td colspan="3">
			<div id="selectgraduate" class="ui mini selection dropdown">
				<input type="hidden" name="graduate" value="{$userinfo['graduate']}">
				<div class="default text">{$strlist[$userinfo['graduate']]}</div>
				<i class="dropdown icon"></i>
				<div class="menu">
					<div class="item" data-value="61">在校</div>
					<div class="item" data-value="62">离校</div>		
				</div>
			</div>
		</td>
	</tr>
	</tbody>
	<tfoot>
		<tr>
			<th colspan="8">
				<button id="changeinfo_submit"  type="submit" class="ui blue labeled icon button">
					<i class="user icon"></i>提交
				</button>
			</th>
		</tr>
	</tfoot>
</table>
</form>
</div>
<script src="__PUBLIC__/js/admin/changeinfo.js" type="text/javascript"></script>