<div class="infotablediv">
	<div class="ui info message">
		<div class="header">添加信息统计</div>
		本系统采用关系型数据库，数据项个数固定，信息统计项为Json存储，随意改变会与统计到的信息无法对应，故只能修改title和时间
	</div>
	<form id="editstatistic_form" action="/home/admin/editstatistic_ajax" method="post">
		<div class='ui form'>
			<div class="field">
				<input id='statistic_title' name="statistic_title" type="text" placeholder="标题..." value="{$statisticinfo['title']}"/>
				<input id="statistic_starttime" name="statistic_starttime" type="datetime-local" value="{$statisticinfo['starttime']}"/>
				<input id="statistic_endtime" name="statistic_endtime" type="datetime-local" value="{$statisticinfo['endtime']}"/>
			</div>
		</div>
			<input name="id" type="hidden" value="{$statisticinfo['id']}"/>
		<button id="editstatistic_submit"  type="submit" class="ui blue labeled icon button">
			<i class="user icon"></i>提交
		</button>
	</form>
</div>
<script src="__PUBLIC__/js/admin/editstatistic.js" type="text/javascript"></script>