<div class='infotablediv'>
<form id="editannouncement_form" action="/home/admin/editannouncement_ajax" method="post">
	<div class="ui fluid input">
		<input id='announcement_title' name="title" type="text" placeholder="标题..." value="{$announcementinfo['title']}">
	</div>
	<div>
	<?php $ueditor_fill_in_content = $announcementinfo['content']; ?>
	<include file="Public/ueditor" /> 
	<input type="hidden" name="id" value="{$announcementinfo['id']}"/>
	</div>
	<div>
		<button id="editannouncement_submit"  type="submit" class="ui blue button">
			提交
		</button>
	</div>
</form>
</div>
<script src="__PUBLIC__/js/admin/editannouncement.js" type="text/javascript"></script>