<table id="user_list" class="display" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>帐号</th>
			<th>姓名</th>
			<th>性别</th>
			<th>年级</th>
			<th>攻读学位</th>
			<th>导师</th>
			<th>指导老师</th>
			<th>手机号</th>
			<th>邮箱</th>
			<th>毕业标记</th>
			<th>修改</th>
		</tr>
	</thead>
	
	<tfoot>
		<tr>
			<th>帐号</th>
			<th>姓名</th>
			<th>性别</th>
			<th>年级</th>
			<th>攻读学位</th>
			<th>导师</th>
			<th>指导老师</th>
			<th>手机号</th>
			<th>邮箱</th>
			<th>毕业标记</th>
			<th>修改</th>
		</tr>
	</tfoot>
</table>

<script src="__PUBLIC__/js/admin/userlist.js" type="text/javascript"></script>
