/*
#sidemenu{
	overflow-x:hidden;
}
*/
#topbar{
  min-width: 780px;
  z-index: 900;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: margin 0.3s ease;
  -moz-transition: margin 0.3s ease;
  -o-transition: margin 0.3s ease;
  -ms-transition: margin 0.3s ease;
  transition: margin 0.3s ease;
  top: 0px;
  width:100%;
}
.topbar iframe {
  margin: 0px 0px 0px 0px;
}
.mainpage.container{
	position: relative;
	width: auto;
	min-width: 960px;
	top : 80px;
	padding-left: 20px;
}
#welcome{
	font-weight:bold;
	font-family:SimHei;
}
#username_display{
	overflow: hidden;
	vertical-align: middle;
	padding:10px;
	font-family:SimHei;
}
.ojtitle{
	font-weight:bold;
	font-family:SimHei;
}
.header{
	font-family:SimHei;
}
.centerdiv{
	width:600px;
	margin: 0 auto;
}
.one_page_step{
	font-weight:bold;
	font-family:SimHei;
	color:black;
}
.active div.one_page_step{
	color:white;
}
/*去掉超链接下划线*/
a{text-decoration:none}