/*
#sidemenu{
	overflow-x:hidden;
}
*/
#topbar{
  min-width: 780px;
  z-index: 900;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: margin 0.3s ease;
  -moz-transition: margin 0.3s ease;
  -o-transition: margin 0.3s ease;
  -ms-transition: margin 0.3s ease;
  transition: margin 0.3s ease;
  top: 0px;
  width:100%;
}
.topbar iframe {
  margin: 0px 0px 0px 0px;
}
.mainpage.container{
	position: relative;
	width: auto;
	min-width: 960px;
	top : 80px;
	padding-left: 20px;
}
#welcome{
	font-weight:bold;
	font-family:SimHei;
}
#username_display{
	overflow: hidden;
	vertical-align: middle;
	padding:10px;
	font-family:SimHei;
}
.ojtitle{
	font-weight:bold;
	font-family:SimHei;
}
.header{
	font-family:SimHei;
}
.centerdiv{
	width:600px;
	margin: 0 auto;
}
.infotablediv{
	width:1000px;
	margin: 0 auto;
}
.one_page_step{
	font-weight:bold;
	font-family:SimHei;
	color:black;
}
.active div.one_page_step{
	color:white;
}
/*去掉超链接下划线*/
a{text-decoration:none}

.td_2w
{
	width:80px;
}
.td_3w
{
	width:100px;
}
.td_4w
{
	width:120px;
}
.td_5w
{
	width:140px;
}
.limit_header
{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.limit_width_700
{
	width:700px;
}
.limit_content
{
	overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
	text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}
.limit_max_height_200
{
	max-height:200px;
}
.white_url
{
	color:white;
}
.red_url
{
	color:#d95c5c;
}
.half_width
{
	width: 500px;
}