
	<link href="__PUBLIC__/css/labserver.css" rel="stylesheet" type="text/css">
	<link href="__PUBLIC__/semantic/packaged/css/semantic.min.css" rel="stylesheet" type="text/css" class="ui">
	<link href="__PUBLIC__/css/alertify.core.css" rel="stylesheet" type="text/css">
	<link href="__PUBLIC__/css/alertify.default.css" rel="stylesheet" type="text/css">
	<link href="__PUBLIC__/DataTables-1.10.2/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
	<link href="__PUBLIC__/DataTables-1.10.2/media/css/jquery.dataTables_themeroller.css" rel="stylesheet" type="text/css">
	<link href="__PUBLIC__/DataTables-1.10.2/extensions/TableTools/css/dataTables.tableTools.min.css" rel="stylesheet" type="text/css">
	